@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alata;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#header .logo{
    color: #094b65;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

#header ul li a {
    text-decoration: none;
    color: #094b65;
    padding: 6px 15px;
    border-radius: 20px;
}

#header ul li a:hover {
    background-color: #094b65;
    color: #fff;
}

#header ul li a > .active {
    background-color: #094b65;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
}

#scene{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#scene #text{
    position: absolute;
    transform: translateY(-100%);
    color: #094b65;
    font-family: rancho;
    font-size: 10vw;
    white-space: no-wrap;
    text-align: center;
}

#scene img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.section-2{
    position: relative;
    padding: 100px;
    background-color: #131E1E;
    color: #fff;
}

.section-2 h2{
    font-size: 3.5em;
}

.section-2 p{
    margin: 20px 0px;
}